@import '../../index.scss';

.header {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    font-size: 17px;
    @include flexbox;
    justify-content: space-between;

    &__logo,
    &__feedback {
        flex: 0.2;
        @include flexbox;
        // border: 2px solid red;
    }

    &__searchbar {
        flex: 0.4;
        @include flexbox;
        border-radius: 10px;
        background-color: $white-color;
        border: 1px solid black;

        input {
            flex: 0.9;
            padding: 10px;
            font-size: 17px;
            color: $black-color;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: 1px solid grey;
        }

        &__icon {
            flex: 0.1;
            @include flexbox;

            .icon {
                font-size: 20px;
                cursor: pointer;
            }
        }

    }

    &__feedback {
        justify-content: flex-end;

        button {
            padding: 10px;
            background-color: $black-color;
            color: $primary-color;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

@media (max-width : $small-size) {

    .header {

        &__searchbar {
            flex: 0.7;

            input {
                font-size: 15px;
                padding: 7px;
            }
        }

        &__feedback {
            button {
                font-size: 14px;
            }
        }
    }
}